In [3]:
import numpy as np

In [25]:
two = np.array([(1,2,3), (4,5,6)])

In [26]:
two

array([[1, 2, 3],
       [4, 5, 6]])

**Métedos e Atributos em numpy com array**

In [8]:
# o comando shape ele retorna em linhas e colunas 
two.shape

(2, 3)

In [9]:
# o comando ndim retorna a quantidade de dimnesão ['Quantidade de linhas na verdade']
two.ndim

2

In [11]:
# max mostra o elementos máximos do meu array 
two.max()

6

In [14]:
 # valor minimo do array 
two.min()

1

In [15]:
# mean valor médio dentro do meu array 
two.mean()

3.6666666666666665

In [17]:
# calcula o desvio padrão 
two.std()

1.699673171197595

In [19]:
# tipo de dados que contem no array
two.dtype

dtype('int64')

In [20]:
#itemsize é quantidade de byte no array
two.itemsize

8

In [22]:
# o sum é somatoria de todos os elementos que contem no array 
two.sum()

22

In [27]:
# transporta oque era linha para coluna o comando usado é o T 
two.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [28]:
# transforma e uma unica linha 
two.reshape(-1)

array([1, 2, 3, 4, 5, 6])